{% extends 'layout.html' %}
{% block content %}
<div class="qcontainer">
    <div class="qheader"><p>현지학기 소개 페이지</p></div>
   

    <div class ="icontainer">
        <h1>영진 전문대학 현지학기제</h1>
        <p>현지학기제 자료모음</p>
        <a href="https://www.yju.ac.kr/kr/index.do">영진전문대학 홈페이지</a><br>
        <a href="https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=computer_yjc&logNo=220077176202">영진전문대학 블로그</a><br>
        <a href="http://yjcjp.nso2net.com/02_college/sub04.php">현지학기제 홈페이지</a><br>
        <a href="https://www.newswire.co.kr/newsRead.php?no=66241">현지학기제 뉴스</a>
        <p>등등의 다양한 정보를 제공합니다.</p>
        

    </div>
    
{% endblock %}
