{% extends 'layout.html' %}
{% block content %}
<div class="qcontainer">
    <div class="qheader"><p>QnA 질의 응답 게시판</p></div>

    {% if user and user.id %}
    <form id="twit-form" action="/qa" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <textarea id="twit" name="content" maxlength="300"></textarea>
        </div>
        <div class="img-preview">
            <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
            <input id="img-url" type="hidden" name="url">
        </div>
        <div>
            <!-- <label id="img-label" for="img">사진 업로드</label> -->
            <input id="img" type="file" accept="image/*">
            <button id="twit-btn" type="submit" class="btn">등록</button>
        </div>
    </form>
   {% endif %} 
</div>
<div class="twits">
    {% for twit in twits %}
        {% if twit.Where == "qa" %}
            <div class="twit">
                <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
                <input type="hidden" value="{{twit.id}}" class="twit-id">
                <div class="twit-author">{{twit.User.nick}}</div>
                <div class="twit-content">{{twit.content}}</div>
                {% if twit.UserId == user.id %}
                 <button class="optbtn" type="submit">수정</button>
                {% endif %}
                {% if twit.img %}
                <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
                {% endif %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
