{% extends 'layout.html' %}
{% block content %}
<div class="qcontainer">
    <div class="qheader"><p>QnA 질의 응답 게시판</p></div>

    {% if user and user.id %}
    <form id="twit-form" action="/qa" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <textarea id="twit" name="content" maxlength="300"></textarea>
        </div>
        <div class="img-preview">
            <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
            <input id="img-url" type="hidden" name="url">
        </div>
        <div>
            <label id="img-label" for="img">사진 업로드</label>
            <input id="img" type="file" accept="image/*">
            <button id="twit-btn" type="submit" class="btn">등록</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
